{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "eqeqeq": [
            "error",
            "always"
        ],
        "no-caller": "error",
        "no-class-assign": "off",
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-else-return": "error",
        "no-eval": "error",
        "no-implied-eval": "error",
        "no-global-assign": "error",
        "no-loop-func": "warn",
        "no-shadow-restricted-names": "error",
        "no-unused-expressions": "warn",
        "no-unused-vars": [
            "warn",
            {
                "args": "all",
                "argsIgnorePattern": "^_",
                "caughtErrors": "all",
                "caughtErrorsIgnorePattern": "^_",
                "vars": "all",
                "varsIgnorePattern": "^_"
            }
        ],
        "no-use-before-define": "off",
        "no-with": "error",
        "prefer-const": "error",
        "radix": [
            "error",
            "always"
        ],
        "brace-style": [
            "warn",
            "1tbs"
        ],
        "comma-dangle": [
            "warn",
            "never"
        ],
        "comma-spacing": [
            "warn",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": [
            "warn",
            "last"
        ],
        "curly": [
            "warn",
            "all"
        ],
        "eol-last": "warn",
        "func-call-spacing": [
            "warn",
            "never"
        ],
        "generator-star-spacing": [
            "warn",
            {
                "before": false,
                "after": true
            }
        ],
        "key-spacing": [
            "warn",
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "keyword-spacing": [
            "warn",
            {
                "before": true,
                "after": true
            }
        ],
        "new-cap": "warn",
        "new-parens": "warn",
        "no-array-constructor": "warn",
        "no-inline-comments": "off",
        "no-lonely-if": "warn",
		"no-inner-declarations": "off",
		"no-control-regex": "off",
        "no-mixed-spaces-and-tabs": "warn",
        "no-multi-spaces": "warn",
        "no-trailing-spaces": "warn",
        "no-new-object": "warn",
        "no-unneeded-ternary": "warn",
        "object-curly-spacing": [
            "warn",
            "always"
        ],
        "operator-linebreak": [
            "warn",
            "after"
        ],
        "quote-props": [
            "off",
            "consistent-as-needed"
        ],
        "quotes": [
            "warn",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "semi": [
            "warn",
            "always"
        ],
        "semi-spacing": [
            "warn",
            {
                "before": false,
                "after": true
            }
        ],
        "space-before-blocks": [
            "warn",
            "always"
        ],
        "space-before-function-paren": [
            "warn",
            "always"
        ],
        "space-infix-ops": [
            "warn"
        ],
        "space-unary-ops": [
            "warn",
            {
                "words": true,
                "nonwords": false
            }
        ],
        "spaced-comment": [
            "warn",
            "always"
        ]
    }
}
