/coverage
/node_modules
/test/assets/QT3TS
/test/assets/XQUTS
/test/assets/runnablePerformanceTestNames.csv
/test/built
/built
/demo/built
/dist
/src/parsing/xPathParser.raw.ts
/.nyc_output
/tmp
/.tscc_temp
