/coverage
/node_modules
/performance/lib
/test/assets/QT3TS
/test/assets/XQUTS
/test/assets/runnablePerformanceTestNames.csv
/test/built
/built
/demo/built
/dist
/src/parsing/xPathParser_raw.ts
/.nyc_output
/tmp
/.tscc_temp
/src/parsing/XQueryLexer.interp
/src/parsing/XQueryLexer.tokens
/src/parsing/XQueryLexer.ts
/src/parsing/XQueryParser.interp
/src/parsing/XQueryParser.tokens
/src/parsing/XQueryParser.ts
/src/parsing/XQueryParserListener.ts
/src/parsing/XQueryParserVisitor.ts
/src/parsing/.antlr