/coverage
/node_modules
/performance/lib
/test/assets/QT3TS
/test/assets/XQUTS
/test/assets/runnablePerformanceTestNames.csv
/test/built
/built
/demo/built
/dist
/src/parsing/xPathParser_raw.ts
/.nyc_output
/tmp
/.tscc_temp