{
	"require": "ts-node/register",
	"extension": [
		".js",
		".ts"
	],
	"reporter": [
		"text-summary",
		"html"
    ],
	"instrument": true,
	"sourceMap": true,
	"include": [
		"src/**/*@(js|ts)",
		"test/**/*@(js|ts)"
	]
}
