{
	"require": "ts-node/register",
	"extension": [
		".js",
		".ts"
	],
	"reporter": [
		"text-summary",
		"html"
    ],
	"instrument": true,
	"sourceMap": true,
	"include": [
		"src/**/*.ts",
		"test/**/*.ts"
	]
}
