name: CI
on:
    - push
    - pull_request
jobs:
    test:
        name: Tests on node.js ${{ matrix.node-version }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                node-version:
                    - 15
                    - 14
                    - 12
        steps:
            - uses: actions/checkout@v2
            - uses: ./.github/workflows/download-qt3
            - uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: Linter
              run: npm run lint;
            - name: Unit tests against source
              run: npm run ci-test -- --reporter dot;
            - name: QT3 tests against source
              run: npm run ci-qt3tests -- --reporter dot;
            - name: Unit tests against bundle
              run: npm run integrationtests -- --dist --reporter dot;
            - name: QT3 tests against bundle
              run: npm run qt3tests -- --dist --reporter dot;
            - name: Parser tests
              run: npm run ci-qt3testsxqueryx -- --reporter dot;
            - name: Update Facility tests
              run: npm run ci-xqutstests -- --reporter dot;
            - name: Update Facility parser tests
              run: npm run ci-xqutstestsxqueryx -- --reporter dot;
            - name: Combine coverage
              run: npm run coverage
            - name: Coveralls Parallel
              uses: coverallsapp/github-action@master
              with:
                github-token: ${{ secrets.github_token }}
                flag-name: run-${{ matrix.test_number }}
                parallel: true
    finish:
      needs: test
      runs-on: ubuntu-latest
      steps:
        - name: Coveralls
          uses: coverallsapp/github-action@master
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            parallel-finished: true
